{% for tweet in tweetList %}
{% if not tweet["favorited"] %}
<div id="content" value="{{ tweet["id_str"] }}" class="box" style="width: 91.5%; margin: 0 0 2px 0;">

	<a href="https://twitter.com/{{ tweet["user"]["screen_name"] }}" target="_blank">
		<img src="{{ tweet["user"]["profile_image_url"] }}" style="display: inline-block;" height="20">
	</a>

	<div style="display: inline-block; position: relative; font-size: small; width: 77%;">
		<p class="oneline">
		<a href="https://twitter.com/{{ tweet["user"]["screen_name"] }}" target="_blank" style="color: #555;">
			{{ tweet["user"]["name"] }}
		</a>
		</p>
	</div>

	<div style="display: inline-block; position: relative; font-size: 12px; width: 10%; top: -5px; right: 0px;">
		<p class="oneline" style="text-align: right;">
		<a id="time" href="https://twitter.com/{{ tweet["user"]["screen_name"] }}/status/{{ tweet["id_str"] }}" target="_blank" style="color: #999;">
		</a>
		</p>
	</div>

	<div style="font-size: small; color: #555;">
		<p class="oneline">
		{{ tweet["text"] | safe }}
		{% for url in tweet["entities"]["urls"] %}
		<a href="{{ url["url"] }}" target="_blank">{{ url["url"] }}</a>
		{% endfor %}
		</p>
	</div>

	{% if tweet["entities"].get("media") %}
	<div>
		{% for media in tweet["extended_entities"]["media"] %}
		<a href="{{ media["media_url"] }}" target="_blank">
			<img src="{{ media["media_url"] }}" class="frame" style="width: 46%; vertical-align: top; position: relative; margin: 2px 0;">
		</a>
		{% endfor %}
	</div>
	{% endif %}

	<button id="delete" value="{{ tweet["id_str"] }}" class="favorite_btn" style="position: relative; width: 45%; margin: 2px 0 -4px 0; padding: 0 1em; height: 25px; opacity: 0.8;">
		<i class="fa fa-trash-alt" style="margin-right: 2px;"></i>
	</button>

	<button id="count" value="{{ tweet["id_str"] }},{{ tweet["user"]["id_str"] }}" class="favorite_btn" style="position: relative; width: 45%; padding: 0 1em; height: 25px; opacity: 0.8; font-weight: bold;">
	</button>

</div>
{% endif %}
{% endfor %}

